.nav{
    height:180px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    &__image{
        height: 100px;
    }
    h1{
        padding: 0.5rem 0px;
    }
}
.bg-nav{
    background-color: #0066d0;
    width: 100%;
}